<div class="wrapper">
    <table class="mytable">
        <thead>
            <tr>
                <th id="head" colspan="4">Logs</th>
            </tr>
            <tr>
                <th>#</th>
                <th>Nivel</th>
                <th>Data</th>
                <th>Mensagem</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td style="text-align: right">infra</td>
                <td style="text-align: right">17/07/2017 13:21</td>
                <td>Impossivel carregar</td>
            </tr>
            <tr>
                <td>2</td>
                <td style="text-align: right">infra</td>
                <td style="text-align: right">17/07/2017 13:21</td>
                <td>Impossivel carregar</td>
            </tr>
            <tr>
                <td>3</td>
                <td style="text-align: right">infra</td>
                <td style="text-align: right">17/07/2017 13:21</td>
                <td>Impossivel carregar</td>
            </tr>
        </tbody>
    </table>
</div>