<section class="login-block">
    <div class="container">
        <div class="row">
            <div class="col-md-4 login-sec">
                <img [src]="LOGO_ITSS_BI" alt="ITSS B.I. Analytics">
                <form class="login-form">
                    <div class="form-group">
                        <label for="exampleInputEmail1" class="text-uppercase">Login</label>
                        <input type="text" class="form-control" placeholder="">

                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1" class="text-uppercase">Senha</label>
                        <input type="password" class="form-control" placeholder="">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            <small>Remember Me</small>
                        </label>
                        <button type="submit" class="btn btn-login float-right">Entrar</button>
                    </div>
                </form>
                <div class="copy-text">2017 ITSS - Soluções em Tecnologia</div>
            </div>
            <div class="col-md-8 banner-sec">
                <div class="banner-text">
                    <h2>{{ TITULO }}</h2>
                    <p>{{ resume }}</p>
                </div>
            </div>
        </div>
    </div>
</section>